<% if current_user %>
  <div>
    <h1 class="title">
      <span class="hey-name">Hey <%= current_user.name.split[0] %>,</span>
      <br />
      <span class="welcome-header">welcome to Klarna! </span>
    </h1>
  </div>
  <div class="button-wrapper">
    <%= button_to 'Open Door', open_path, method: :post, :remote => true, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored open-button" %>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
    <i class="material-icons">add</i>
  </button>
<% else %>
    <%= render 'welcome' %>
<% end %>
