<% if current_user %>
    <div class="page-header">
      <h1>Hooray! The door has been opened...</h1>
    </div>
    <div class="panel panel-default">
      <%= button_to 'Open Again', open_again_path, method: :post, :remote => true, class: "btn btn-primary btn-lg full-width" %>
    </div>
<% else %>
    <%= render 'welcome' %>
<% end %>