<% if current_user %>
    <div class="button-wrapper">
      <%= button_to open_path, method: :post, :remote => true do %>
        <div class="button">
          <div class="outer">
            <div class="height">
              <div class="inner">
                OPEN DOOR
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% else %>
    <%= render 'welcome' %>
<% end %>
