<% if current_user %>
    <div>
      <h1 class="title">
        <span class="hey-name">Hey <%= current_user.name.split[0] %>,</span>
        <br/>
        <span class="welcome-header">welcome to Klarna! </span>
      </h1>
    </div>
    <% if current_user.can_open? %>
        <div class="button-wrapper">
          <%= button_to 'Open Door', {:controller => "door", :action => "open", :uid => current_user.uid}, method: :post, :remote => true, class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored open-button" %>
        </div>
    <% else %>
        <div style="font-size: 18px; color: white; text-align: center"> Door is closed</div>
    <% end %>
<% else %>
    <%= render 'welcome' %>
<% end %>
