.full-width {
  width: 100%;
}

.stranger {
  margin-top: 50px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.hey {
  font-size: 131px;
  line-height: 0.5;
}

.zocial {
  margin-top: 100px;
  min-width: 280px;
}