.float-left {
  float: left;
}

.navbar-header {
  &.float-none {
    float: none;
  }
}

.navbar-nav {

  &.margin-mobile {
    margin: 10.5px 17px;
  }
}

.navbar-nav > li > a {

  &.logout {
    padding: 10px 0 0 15px;
  }
}

.footer {
  & p {
    font-size: larger;
  }
}